/* Dark mode toggle button styling */
.dark-mode-toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 10px;
}

.dark-mode-toggle input[type='checkbox'] {
    display: none;
}

.dark-mode-toggle label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark-mode-toggle label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.dark-mode-toggle input[type='checkbox']:checked + label {
    background-color: #444;
}

.dark-mode-toggle input[type='checkbox']:checked + label:before {
    transform: translateX(20px);
}

/* Dark mode styles */
.dark-mode {
    background-color: #222;
    color: #fff;
}
