/* SuccessPage.css */
.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .success-content {
    text-align: center;
    animation: fadeIn 1s ease;
  }
  
  .success-header {
    font-size: 2rem;
    color: #00ff22; /* Blue color for header */
  }
  
  .success-message {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .back-to-shop-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff7b00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .back-to-shop-link:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
  }
  
  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  